# Google Maps API Key
GOOGLE_MAPS_PLATFORM_KEY=
# O URL de checkout do seu produto na Kirvano PARA PRO
VITE_KIRVANO_CHECKOUT_URL=https://pay.kirvano.com/a9e4a8e1-a4c3-43de-933e-21cff8f3f8a3

# O ID do produto PRO (é o código final do link acima)
KIRVANO_PRO_PRODUCT_ID=a9e4a8e1-a4c3-43de-933e-21cff8f3f8a3

# O URL de checkout para o SELO DE VERIFICADO na Kirvano
VITE_KIRVANO_VERIFIED_CHECKOUT_URL=https://pay.kirvano.com/b76e028d-396a-4393-87fb-6c77c0dd71a1

# O ID do produto VERIFICADO (é o código final do link acima)
KIRVANO_VERIFIED_PRODUCT_ID=b76e028d-396a-4393-87fb-6c77c0dd71a1

# O segredo (token) de webhook definido por você na Kirvano
# COLOQUE AQUI O TOKEN QUE VOCÊ CRIOU, NÃO O LINK!
KIRVANO_WEBHOOK_SECRET=facilita_ai_secret_123
